doctype html
html
  head
    title Example
    link(rel="stylesheet/style.css");
    script(src="javascript/scripts.js")
  body
    div.m-header
      p this is m-header
    div.m-body
      block content
    div.m-footer
      p this is m-footer
  